katha-alice
alice-bob
katha-bob
katha-anton
katha-manni
katha-max
katha-jessy
katha-lisel
alice-franz
alice-julie
alice-jessy
bob-lisel
bob-manni
bob-max
franz-anton
franz-julie
franz-jessy
anton-manni
anton-max
anton-jessy
anton-lisel
julie-manni
julie-lisel
manni-jessy
max-lisel
max-jessy
jessy-lisel
