katha-bob-Hi
bob-alice-How are you?
katha-max-Hi. My name is Katha. How are you? Pleas answer as soon as possible. It is important.
max-katha-Hello Katha. My name is Max. I have to tell you a secret.
anton-katha-Super secret message.
manni-katha-It is raining outside.
bob-katha-When does school start tomorrow?
