{% extends "left-middle-right.html" %}

{% block left %}

    <div class="well">

        {% if gender == "male" %}
            <img src="{{ url_for("static", filename="Bob.png") }}" class="img-circle" alt="ProfilePic">
        {% else %}
            <img src="{{ url_for("static", filename="Alice.png") }}" class="img-circle" alt="ProfilePic">
        {% endif %}
    </div>
{% endblock %}
{% block center %}

    <h2>{{ username }}</h2>
    <hr>
    <h4>{{ realname }}</h4>
    <hr>
    <div>{{ pubkey }}</div>
    <hr>


{% endblock %}

{% block right %}
    <div class="well">
	<p>Friends:</p>
        <ul class="list-group">
            {% for friend in friends %}
            <li class="list-group-item"><a href="{{ url_for("show_user", username=friend) }}">{{ friend }}</a></li>
            {% endfor %}
        </ul>        
    </div>
{% endblock %}
