{% extends "left-middle-right.html" %}

{% block left %}

    <div class="well">

        {% if gender == "male" %}
            <img src="{{ url_for("static", filename="Bob.png") }}" class="img-circle" alt="ProfilePic">
        {% else %}
            <img src="{{ url_for("static", filename="Alice.png") }}" class="img-circle" alt="ProfilePic">
        {% endif %}
    </div>

    {% if session.logged_in %}
        {% if username != session.user %}
            <div class="well">
            {% if not already_friends %}
                <h4><a href ="{{ url_for("add_friend", username=username) }}"><span class="glyphicon glyphicon-heart"></span> Add as a friend</a><h4>
            {% else %}
                <h4 class="text-success"><span class="glyphicon glyphicon-heart"></span> You are friends </a><span class="glyphicon glyphicon-heart"><h5>
                {% endif %}
   	        </div>
            {% endif %}
        {% endif %}

{% endblock %}
{% block center %}

    <h1><span class="glyphicon glyphicon-triangle-right"> {{ username }}'s Profile</h1>
    <hr>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Name</h4></div>
        <div class="panel-body">{{ realname }}</div>
    </div>
    <hr>
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Public Key</h4></div>
        <div class="panel-body">{{ pubkey }}</div>
    </div>
    <hr>

    {% if session.logged_in %}
        {% if username != session.user %}

            <div class="panel panel-warning">
                <div class="panel-heading"><h4>Send {{ username }} a message</h4></div>

                <form class="form-horizontal" role="form" action="{{ url_for("send_message", username=username) }}" method="post">
                    <div class="panel-body">
                        <div class="form-group col-sm-10">
                            <textarea class="form-control" rows="6" id="message" name="message" placeholder="Enter secret message here!"></textarea>
                        </div>
                        
                        <div class="form-group col-sm-10">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-lock"> Send securely</button>
                        </div>
                    </div>

                </form>
            </div>
            <hr>

	{% else %}

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4>My Messages </h4>
                    {% if session.locked %}
			 <form class="form-inline" action="{{ url_for("unlock_profile") }}" method="post">
                            <input type="password" class="form-control" placeholder="Password", name="password">
                            <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-lock"> LOCKED</button>
                        </form>			

                    {% else %}
                        <a href="{{ url_for("lock_profile") }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-lock"> UNLOCKED</a>
                    {% endif %}
                </div>
                 <div class="panel-body">
                    {% if not messages %}
                        You do not have any messages yet.
                    {% else %}
			{% for message in messages %}
                            <div class="panel panel-default">
                                <div class="panel-heading"><h5> From: <span class="glyphicon glyphicon-user"></span> {{ message[0] }}</h5></div>
                                <div class="panel-body">{{ message[1] }}</div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>

        {% endif %}
    {% endif %}

{% endblock %}

{% block right %}
    <div class="well">
	<p><h3 class="text-info">{{ username }}'s friends:</h3></p>
        <ul class="list-group">
            {% for friend in friends %}
            <li class="list-group-item"><a href="{{ url_for("show_user", username=friend) }}"><span class="glyphicon glyphicon-user"></span> {{ friend }}</a></li>
            {% endfor %}
        </ul>        
    </div>
{% endblock %}
