{% extends "left-middle-right.html" %}

{% block left %}

    <div class="well">

        {% if gender == "male" %}
            <img src="{{ url_for("static", filename="Bob.png") }}" class="img-circle" alt="ProfilePic">
        {% else %}
            <img src="{{ url_for("static", filename="Alice.png") }}" class="img-circle" alt="ProfilePic">
        {% endif %}
    </div>

    <div class="well">
        {% if session.logged_in %}
            {% if username != session.user %}
                {% if not already_friends %}
                    <h5><a href ="{{ url_for("add_friend", username=username) }}"><span class="glyphicon glyphicon-heart"></span> Add as a friend</a><h5>
                {% else %}
                    <h4 class="text-success"><span class="glyphicon glyphicon-heart"></span> You are friends </a><span class="glyphicon glyphicon-heart"><h5>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block center %}

    <h2>{{ username }}</h2>
    <hr>
    <h4>{{ realname }}</h4>
    <hr>
    <div>{{ pubkey }}</div>
    <hr>


{% endblock %}

{% block right %}
    <div class="well">
	<p>Friends:</p>
        <ul class="list-group">
            {% for friend in friends %}
            <li class="list-group-item"><a href="{{ url_for("show_user", username=friend) }}"><span class="glyphicon glyphicon-user"></span> {{ friend }}</a></li>
            {% endfor %}
        </ul>        
    </div>
{% endblock %}
