{% extends "left-middle-right.html" %}

{% block center %}

<h2>Register</h2>

{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

<form role="form" action="{{ url_for('register') }}" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <label class="radio-inline"><input type="radio" value="female" name="gender">female</label>
    <label class="radio-inline"><input type="radio" value="male" name="gender">male</label>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
        <label for="repeat_password">Repeat password:</label>
        <input type="password" class="form-control" id="repeat_password" name="repeat_password">
    </div>
    <div class="form-group">
        <label for="first_name">First name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
    </div>
     <div class="checkbox">
         <label><input type="checkbox" name="accept"> I have read and accept the <a href="{{ url_for("info") }}">terms and conditions</a> of Napier Public Key Server.</label>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>

{% endblock %}
